.search-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  width: 90vw;
  height: 90vh;
  margin: 0 auto;
}

.search-result{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 100%;
}

.result-field{
  border: 1px solid rgb(0, 0, 0);
  width: 90%;
  height: 100%;
}
